<html>
<head>
	<meta charset="utf-8"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
	
<br />
<a asp-area="" asp-controller="Imobiliaria" asp-action="PageHome">Voltar</a>
<br /><br />

<h2>Login</h2>
<br /><br />

@{
	String email = Context.Request.Query["email"];
	email = email!=null?email:""; //O ? é o famoso operador ternário
}

e-mail: <input type="text" id="email" value="@email"/><br />
Senha......: <input type="password" id="senha" /><br /><br />

<input type="button" value="Entrar" onclick="fazer_login()"/>
<a href="/imobiliaria/PageCadastroFuncionario" style="margin-left:10px">Novo Usuário</a>

<script>
	function fazer_login(){

		var jsonEnvio = {};
		jsonEnvio.email = document.getElementById("email").value;
		jsonEnvio.senha = document.getElementById("senha").value;
		
		$.ajax({
			url: "/Funcionario/Login/",
			data: jsonEnvio,
			type: "post",
			success: function (resp){
				if (resp=="ok"){
					document.location.href = "/imobiliaria/PageAreaAdministrativa";
				}else{
					alert("Usuário ou senha inválidos!");
				}
			}
		});
	}

</script>

	
</body>
</html>